.hero-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 600px;
  width: 100%;
  align-items: center;
}

.hero-container video,
.hero-container img {
  width: 100%;
  height: 600px;
  object-fit: cover;
  object-fit: cover;
  position: fixed;
  z-index: -1;
}

.hero-container .content {
  position: absolute;
  width: 90%;
}

.hero-container .content h1 {
  color: #fff9f5;
}

.hero-container .content a {
  display: inline-block;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 768px) {
  .hero-container .content h1 {
    font-size: 32px;
  }
}
